@{
    ViewData["Title"] = "Tasks";
}
<h1>@ViewData["Title"]</h1>

<div class="container text-center">

    <div class="list-group">
        @foreach (var task in ViewBag.tasks)
        {
            <a asp-area="" asp-controller="Tasks" asp-action="Task" asp-route-taskId=@task.Id
            class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@task.Name</h5>
                    <small>@task.ShortDescription</small>
                </div>
                <p class="mb-1">
                    @task.DetailedDescription
                </p>
                <object>
                    <small>
                        <a class="text-dark" href="#">@task.TableName</a>
                    </small>
                </object>

            </a><br>
        }
    </div>

</div>